In [71]:
import os
import os 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings("ignore")

In [ ]:
os.chdir("C:/Users/Abhishek/Desktop/UpGrade/Day 24 Assignment/")

In [72]:
data = pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [73]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [74]:
data.shape

(4410, 24)

In [75]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [76]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [77]:
encode = LabelEncoder()
encode.fit(data["Attrition"])
print(list(encode.classes_))
data["Attrition"] = encode.transform(data["Attrition"])



encode = LabelEncoder()
encode.fit(data["BusinessTravel"])
print(list(encode.classes_))
data["BusinessTravel"] = encode.transform(data["BusinessTravel"])


encode = LabelEncoder()
encode.fit(data["Department"])
print(list(encode.classes_))
data["Department"] = encode.transform(data["Department"])

encode = LabelEncoder()
encode.fit(data["EducationField"])
print(list(encode.classes_))
data["EducationField"] = encode.transform(data["EducationField"])


encode = LabelEncoder()
encode.fit(data["Gender"])
print(list(encode.classes_))
data["Gender"] = encode.transform(data["Gender"])


encode = LabelEncoder()
encode.fit(data["Over18"])
print(list(encode.classes_))
data["Over18"] = encode.transform(data["Over18"])

encode = LabelEncoder()
encode.fit(data["JobRole"])
print(list(encode.classes_))
data["JobRole"] = encode.transform(data["JobRole"])

encode = LabelEncoder()
encode.fit(data["MaritalStatus"])
print(list(encode.classes_))
data["MaritalStatus"] = encode.transform(data["MaritalStatus"])
data

['No', 'Yes']
['Non-Travel', 'Travel_Frequently', 'Travel_Rarely']
['Human Resources', 'Research & Development', 'Sales']
['Human Resources', 'Life Sciences', 'Marketing', 'Medical', 'Other', 'Technical Degree']
['Female', 'Male']
['Y']
['Healthcare Representative', 'Human Resources', 'Laboratory Technician', 'Manager', 'Manufacturing Director', 'Research Director', 'Research Scientist', 'Sales Executive', 'Sales Representative']
['Divorced', 'Married', 'Single']

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,2,1,5,4,3,1,4406,0,...,3.0,0,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,1,...,2.0,0,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,1,1,4408,1,...,0.0,0,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,1,...,0.0,0,14,8,1,10.0,2,9,7,8
4409,40,0,2,1,28,3,3,1,4410,1,...,0.0,0,12,8,0,NaN,6,21,3,9

In [78]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [79]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [80]:
data.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.043194,NaN,0.008649,-0.039352,...,0.299243,NaN,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.057940,NaN,-0.004729,0.018125,...,0.042345,NaN,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.015462,NaN,-0.002590,-0.039243,...,0.022401,NaN,-0.031054,NaN,0.003683,0.033997,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,0.013720,NaN,-0.003455,0.003158,...,-0.003954,NaN,-0.007840,NaN,0.010512,-0.019839,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.024665,NaN,-0.001097,-0.044173,...,-0.013843,NaN,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.012329,NaN,-0.009680,-0.016547,...,-0.016250,NaN,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EducationField,0.043194,-0.057940,-0.015462,0.013720,-0.024665,0.012329,1.000000,NaN,-0.000819,-0.005634,...,0.009023,NaN,-0.011214,NaN,0.021620,0.021593,-0.021793,0.023120,0.048181,0.021664
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.002590,-0.003455,-0.001097,-0.009680,-0.000819,NaN,1.000000,-0.013165,...,-0.001117,NaN,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,-0.039352,0.018125,-0.039243,0.003158,-0.044173,-0.016547,-0.005634,NaN,-0.013165,1.000000,...,-0.066924,NaN,0.011841,NaN,0.019237,-0.027598,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.019528,NaN,-0.003303,-0.026854,...,-0.009875,NaN,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
JobRole,0.011422,0.025809,-0.027194,-0.025466,-0.010293,0.030155,0.013106,NaN,0.005767,0.003724,...,-0.021841,NaN,-0.013465,NaN,0.023991,-0.012757,0.051744,-0.012886,-0.014635,0.010695
MaritalStatus,-0.095029,0.162070,0.024001,-0.044619,-0.027893,0.024991,-0.051409,NaN,0.001337,-0.009132,...,-0.037220,NaN,0.006378,NaN,0.014745,-0.077556,0.012798,-0.059986,-0.030915,-0.038570
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.008858,NaN,0.007338,0.007530,...,-0.020726,NaN,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,0.022401,-0.003954,-0.013843,-0.016250,0.009023,NaN,-0.001117,-0.066924,...,1.000000,NaN,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
Over18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,-0.011214,NaN,-0.004456,0.011841,...,0.030860,NaN,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,0.021620,NaN,-0.014254,0.019237,...,0.017163,NaN,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.033997,-0.019839,0.009374,-0.010717,0.021593,NaN,-0.001063,-0.027598,...,0.238807,NaN,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,-0.021793,NaN,-0.010191,-0.030167,...,-0.032286,NaN,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.023120,NaN,0.004086,-0.017277,...,-0.117959,NaN,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,0.048181,NaN,0.000256,-0.021812,...,-0.036656,NaN,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.021664,NaN,0.008579,0.004438,...,-0.109667,NaN,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

In [81]:
data["NumCompaniesWorked"] = np.where(data["NumCompaniesWorked"].isna() , data["NumCompaniesWorked"].mean() ,data["NumCompaniesWorked"]  )

In [83]:
data["TotalWorkingYears"] = np.where(data["TotalWorkingYears"].isna() , data["TotalWorkingYears"].mean() ,data["TotalWorkingYears"]  )

In [84]:
data.isna().sum()   Education Department EmployeeCount

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [87]:
labels = np.array(features['Attrition'])
features= features.drop('Attrition', axis = 1)
feature_list = list(features.columns)
features = np.array(features)

In [88]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [89]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (3307, 23)
Training Labels Shape: (3307,)
Testing Features Shape: (1103, 23)
Testing Labels Shape: (1103,)

In [92]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('Age')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  36.77

In [93]:
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [94]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.09 degrees.

In [109]:
f = ['BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
DT = DecisionTreeClassifier()
DT.fit(train_features,train_labels)

DecisionTreeClassifier()

In [113]:
y_pred = DT.predict(test_features)

In [107]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')